/*Island Rush CSS File*/
/*Created By C1C Spencer Adolph (7/28/2018)*/

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#whole_game {
    width: 100%;
    height: 100%;
    background-color: black;
}


/*----------------------------------------------------------------------------------------------*/
/*SIDEPANEL CSS*/

#side_panel {
    height: 95%;
    width: 23%;
    margin-left: 1%;
    margin-top: .75%;
    float: left;
    background-color: antiquewhite;
}
#titlebar{
    width: 100%;
    height: 5%;
    text-align: center;
}
#purchase_buttons_container{
    width: 100%;
    padding-bottom: 60%;
}
.purchase_square{
    float: left;
    width: 20%;
    padding-top: 20%;
    background-size: contain;
}
#purchase_seperator {
    width: 100%;
    height: 5%;
    text-align: center;
}
#shopping_things{
    width: 100%;
    height: 35%;
}
#purchased_container{
    width: 80%;
    height: 100%;
    float: left;
}
#trashbox{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: green;
}
#rest_things{
    width: 100%;
    height: 22%;
}







/*----------------------------------------------------------------------------------------------*/
/*GAMEBOARD CSS*/

.highlighted {
    background-color: rgba(236, 1, 255, 0.15);
}

#game_board {
    height: 95%;
    /*padding-bottom: 45%;*/
    width: 70%;
    /*margin-left: 1%;*/
    margin-top: .75%;
    margin-right: 1%;
    float: right;
    background-size: 100% 100%;
    background-color: #232655;
}
.gridblockLeftBig {
    position: relative;
    width: 20%;
    height: 31.5%;
    float: left;
    background-color: black;
    background-image: url("resources/mapImages/special_island13.png");
    background-size: 98% 98%;
    background-position: center;
    background-repeat: no-repeat;
}
.gridblockRightBig {
    position: relative;
    width: 22.5%;
    height: 73.51%;
    float: right;
    background-color: black;
    background-image: url("resources/mapImages/special_island14.png");
    background-size: 99% 99%;
    background-position: center;
    background-repeat: no-repeat;
}
.gridblockEmptyLeft{
    position: relative;
    width: 3.6%;
    height: 52.61%;
    float: left;
    background-color: black;
    background-image: url("resources/mapImages/water.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.gridblock {
    position: relative;
    width: 8.21%;
    height: 10.501%;
    float: left;
    z-index: 10;
    background-color: black;
    background-size: 98% 98%;
    background-position: center;
    background-repeat: no-repeat;
}
.gridblock:hover {
    background-color: rgb(236, 1, 255);
}
.special_island3x3 {
    width: 300%;
    height: 300%;
    position: absolute;
    margin-left: -100%;
    margin-top: -75%;
    background-repeat: no-repeat;
    background-size: 98% 98%;
    background-color: #a30004;
    background-position: center;
    display: none;
}
.water{background-image: url("resources/mapImages/water.png");}
.special_island1{background-image: url("resources/mapImages/special_island1.png");}
.special_island2{background-image: url("resources/mapImages/special_island2.png");}
.special_island3{background-image: url("resources/mapImages/special_island3.png");}
.special_island4{background-image: url("resources/mapImages/special_island4.png");}
.special_island5{background-image: url("resources/mapImages/special_island5.png");}
.special_island6{background-image: url("resources/mapImages/special_island6.png");}
.special_island7{background-image: url("resources/mapImages/special_island7.png");}
.special_island8{background-image: url("resources/mapImages/special_island8.png");}
.special_island9{background-image: url("resources/mapImages/special_island9.png");}
.special_island10{background-image: url("resources/mapImages/special_island10.png");}
.special_island11{background-image: url("resources/mapImages/special_island11.png");}
.special_island12{background-image: url("resources/mapImages/special_island12.png");}
.grid_special_island1{background-image: url("resources/mapImages/grid_special_island1.png");}
.grid_special_island2{background-image: url("resources/mapImages/grid_special_island2.png");}
.grid_special_island3{background-image: url("resources/mapImages/grid_special_island3.png");}
.grid_special_island4{background-image: url("resources/mapImages/grid_special_island4.png");}
.grid_special_island5_1{background-image: url("resources/mapImages/grid_special_island5_1.png");}
.grid_special_island5_2{background-image: url("resources/mapImages/grid_special_island5_2.png");}
.grid_special_island6{background-image: url("resources/mapImages/grid_special_island6.png");}
.grid_special_island7{background-image: url("resources/mapImages/grid_special_island7.png");}
.grid_special_island8{background-image: url("resources/mapImages/grid_special_island8.png");}
.grid_special_island9{background-image: url("resources/mapImages/grid_special_island9.png");}
.grid_special_island10{background-image: url("resources/mapImages/grid_special_island10.png");}
.grid_special_island11{background-image: url("resources/mapImages/grid_special_island11.png");}
.grid_special_island12{background-image: url("resources/mapImages/grid_special_island12.png");}




/*----------------------------------------------------------------------------------------------*/
/*BattleZone CSS*/

#battleZonePopup{
    width: 400px;
    height: 500px;
    position: absolute;
    display: none;
    background-image: url("resources/mapImages/battle_zone.png");
    background-repeat: no-repeat;
    background-size: 390px 490px;
    background-color: #000000;
    background-position: center;
    z-index: 500;
    margin-left: 300px;
    margin-top: 75px;
}

#unused_defender{
    width: 28%;
    height: 34%;
    margin-left: 4%;
    margin-top: 71%;
    position: absolute;
}

#unused_attacker{
    width: 29%;
    height: 34%;
    margin-left: 68%;
    margin-top: 71%;
    position: absolute;
}

#used_defender{
    width: 28%;
    height: 30%;
    margin-left: 4%;
    margin-top: 32%;
    position: absolute;
}

#used_attacker{
    width: 29%;
    height: 30%;
    margin-left: 68%;
    margin-top: 32%;
    position: absolute;
}

#center_attacker{
    width: 16%;
    height: 27%;
    margin-left: 51%;
    margin-top: 51%;
    position: absolute;
}

#center_defender{
    width: 16%;
    height: 27%;
    margin-left: 33.5%;
    margin-top: 51%;
    position: absolute;
}

#battle_buttons{
    width: 33%;
    height: 20%;
    margin-left: 34%;
    margin-top: 93%;
    position: absolute;
}

#battle_outcome{
    width: 33%;
    height: 20%;
    margin-left: 34%;
    margin-top: 23%;
    position: absolute;
}

#battleActionPopup{
    width: 96%;
    height: 96%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
    position: absolute;
    z-index: 100;
    display: none;
}




/*----------------------------------------------------------------------------------------------*/
/*GAME PIECE CSS*/

.gamePiece {
    width: 33.333%;
    height: 33.333%;
    float: left;
    position: relative;
    z-index: 15;
    /*background-color: white;*/
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
}
.transport{background-image: url("resources/unitImages/transport.png");}
.submarine{background-image: url("resources/unitImages/submarine.png");}
.destroyer{background-image: url("resources/unitImages/destroyer.png");}
.aircraftCarrier{background-image: url("resources/unitImages/aircraftCarrier.png");}
.soldier{background-image: url("resources/unitImages/soldier.png");}
.artillery{background-image: url("resources/unitImages/artillery.png");}
.tank{background-image: url("resources/unitImages/tank.png");}
.marine{background-image: url("resources/unitImages/marine.png");}
.lav{background-image: url("resources/unitImages/lav.png");}
.attackHeli{background-image: url("resources/unitImages/attackHeli.png");}
.sam{background-image: url("resources/unitImages/sam.png");}
.fighter{background-image: url("resources/unitImages/fighter.png");}
.bomber{background-image: url("resources/unitImages/bomber.PNG");}
.stealthBomber{background-image: url("resources/unitImages/stealthBomber.png");}
.tanker{background-image: url("resources/unitImages/tanker.png");}

#purchased_container > .gamePiece{
    width: 15%;
    height: 15%;
}

.transportContainer{
    height: 200%;
    width: 200%;
    background-color: orangered;
    margin: 0;
    position: absolute;
    display: none;
    /*z-index: 15;*/
}
.aircraftCarrierContainer{
    height: 100%;
    width: 200%;
    background-color: white;
    margin: 0;
    position: absolute;
    display: none;
    /*z-index: 15;*/
}
.lavContainer{
    height: 100%;
    width: 200%;
    background-color: rosybrown;
    margin: 0;
    position: absolute;
    display: none;
    /*z-index: 15;*/
}

.aircraftCarrierContainer > .gamePiece{
    height: 100%;
    width: 50%;
}

.lavContainer > .gamePiece{
    height: 100%;
    width: 50%;
}

.transportContainer > .gamePiece{
    height: 50%;
    width: 50%;
}

#unused_attacker > .gamePiece{
    width: 33%;
    height: 40px;
}
#unused_defender > .gamePiece{
    width: 33%;
    height: 40px;
}
#used_attacker > .gamePiece{
    width: 33%;
    height: 40px;
}
#used_defender > .gamePiece{
    width: 33%;
    height: 40px;
}

#center_attacker > .gamePiece{
    width: 40px;
    height: 40px;
}
#center_defender > .gamePiece{
    width: 40px;
    height: 40px;
}

.selected {
    background-color: white;
}
.selectedPos{
    background-color: black;
}
.selectedPos:hover{
    background-color: black;
}

/*----------------------------------------------------------------------------------------------*/
/*ISLAND POSITIONS CSS*/

.gridblockTiny:hover{
    background-color: rgba(255, 15, 0, 0.31);
}

#pos13a{}
#pos13b{}
#pos13c{
    /*width: 22%;*/
    /*height: 22%;*/
    /*margin-left: 28%;*/
    /*margin-top: 68%;*/
    /*-ms-transform: rotate(-20deg); !* IE 9 *!*/
    /*-webkit-transform: rotate(-20deg); !* Safari *!*/
    /*transform: rotate(-20deg);*/
}
#pos13d{}
#pos13e{}
#pos13f{}
#pos13g{/*This position missing letter on image (small bottom triangle)*/}
#pos13h{}
#pos13i{}
#pos13j{}
#pos14a{}
#pos14b{}
#pos14c{}
#pos14d{}
#pos14e{}
#pos14f{}
#pos14g{}
#pos14h{}
#pos14i{}
#pos14j{}
#pos1a{}
#pos1b{}
#pos1c{}
#pos1d{}
#pos2a{}
#pos2b{}
#pos2c{}
#pos2d{}
#pos3a{}
#pos3b{}
#pos3c{}
#pos4a{}
#pos4b{}
#pos4c{}
#pos4d{}
#pos5a{}
#pos5b{}
#pos5c{}
#pos5d{}
#pos6a{}
#pos6b{}
#pos6c{}
#pos7a{}
#pos7b{}
#pos7c{}
#pos8a{}
#pos8b{}
#pos8c{}
#pos9a{}
#pos9b{}
#pos9c{}
#pos9d{}
#pos10a{}
#pos10b{}
#pos10c{}
#pos10d{}
#pos11a{}
#pos11b{}
#pos11c{}
#pos12a{}
#pos12b{}
#pos12c{}
#pos12d{}