/*Island Rush CSS File*/
/*Created By C1C Spencer Adolph (7/28/2018)*/

html, body {
    margin: 0;
    padding: 0;
    height: 47.1vw;
    width: 100vw;
    overflow-x: hidden;
}

#whole_game {
    width: 100%;
    height: 100%;
    background-color: black;
}


/*----------------------------------------------------------------------------------------------*/
/*SIDEPANEL CSS*/

#side_panel {
    position: relative;
    height: 95%;
    width: 23%;
    margin-left: 1%;
    margin-top: .75%;
    float: left;
    background-color: antiquewhite;
    z-index: 75;
}
#titlebar{
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 3%;
    text-align: center;
}
#purchase_buttons_container{
    margin-top: 5%;
    /*margin: 0;*/
    position: absolute;
    z-index: 50;
    width: 100%;
    /*padding-bottom: 80%;*/
    /*background-color: red;*/
}
.purchase_square{
    float: left;
    width: 20.1%;
    padding-top: 20.1%;
    margin-left: 4%;
    background-size: contain;
}
.purchase_square:hover{
    background-color: rgba(165,138,17,0.58)
}
#purchase_seperator {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 5%;
    margin-top: 85%;
    text-align: center;
    /*background-color: green;*/
    border-top: 2px solid black;
}
#shopping_things{
    position: absolute;
    margin-top: 92%;
    z-index: 50;
    width: 100%;
    height: 20%;
}
#purchased_container{
    width: 80%;
    height: 100%;
    float: left;
}
#trashbox{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-family: "Goudy ExtraBold";
    background-color: #4E2700;
    background-image: url("resources/unitImages/trash_can.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#rest_things{
    position: absolute;
    margin-top: 133%;
    z-index: 50;
    width: 100%;
    height: 31%;
    /*background-color: red;*/
    text-align: center;
    border-top: 2px solid black;
}

#phase_indicator{
    width: 100%;
    height: 20%;
    /*background-color: red;*/
}
#team_indicators{
    width: 100%;
    height: 20%;
}
#red_team_indicator{
    height: 100%;
    width: 50%;
    float: left;
}
#blue_team_indicator{
    height: 100%;
    width: 50%;
    float: left;
}
#rPoints_indicators{
    width: 100%;
    height: 20%;
}
#red_rPoints_indicator{
    height: 100%;
    width: 40%;
    float: left;
}
#rPoints_label{
    height: 100%;
    width: 20%;
    float: left;
}
#blue_rPoints_indicator{
    height: 100%;
    width: 40%;
    float: left;
}
#hPoints_indicators{
    width: 100%;
    height: 20%;
}
#red_hPoints_indicator{
    height: 100%;
    width: 40%;
    float: left;
}
#hPoints_label{
    height: 100%;
    width: 20%;
    float: left;
}
#blue_hPoints_indicator{
    height: 100%;
    width: 40%;
    float: left;
}
#misc_info_undo{
    width: 100%;
    height: 20%;
}
#game_version{
    height: 100%;
    width: 50%;
    float: left;
}
#undo_button_div{
    height: 100%;
    width: 50%;
    float: left;
}

/*sdsssflj*/

/*--------------------------------------------------------------------------------------------------------------*/
/*BOTTOM PANEL CSS */
#bottom_panel{
    position: absolute;
    background-color: wheat;
    width: 304%;
    height: 15%;
    /*top: 82%;*/
    margin-left: 122%;
    margin-top: 166%;

    z-index: 100;
}
#battle_button_container{
    height: 100%;
    width: 25%;
    float: left;
}
#battle_button{
    width: 60%;
    height: 50%;
    margin: 10% 20%; /*top right bottom left */
    font-family: Impact;
    font-size: 18px;
    background-color: burlywood;
    border-color: #c19c71;
}
#user_feedback_container{
    float: left;
    width: 50%;
    height: 100%;
    /*background-color: sandybrown;*/
}
#user_feedback{
    width: 100%;
    height: 60%;
    margin: 5% 0;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
    text-weight: bold;
    text-size: 14px;
}

#phase_button_container{
    float: left;
    width: 25%;
    height: 100%;
}
#phase_button{
    width: 80%;
    height: 70%;
    margin: 5.5% 10%; /*top&bottom right&left */  /*top right bottom left */
    font-family: Impact;
    font-size: 24px;
    background-color: burlywood;
    border-color: #c19c71;
}


/*--------------------------------------------------------------------------------------------------------------*/
/* NEWS ALERT POPUP CSS */
#popup{
    width: 25%;
    height: 35%;
    position: absolute;
    display: none;
    /*background-image: url("resources/unitImages/Newspaper.jpg");*/
    background-color: #e6e6e6;
    border: solid black 3px;
    /*background-repeat: no-repeat;*/
    /*background-size: 390px 490px;*/
    /*background-color: #D4D4D4;*/
    /*background-position: center;*/
    z-index: 500;
    margin-left: 20%;
    margin-top: 15%;
}
#popupTitle{
    text-align: center;
    font-size: xx-large;
    font-family: "Old English Text MT";
    /*background-image: url("resources/mapImages/battle_zone.png");*/
}
#popupBodyNews{
    font-family: Helvetica-Black;
    text-indent: 2.5%;
    font-size: large;
    height: 30%;
}
#newsBodyText{
    margin-top: 5px;
    font-family: Helvetica-Black;
    text-indent: 2.5%;
    font-size: large;
    height: 30%;
}

.news{
    background-image: url("resources/unitImages/Newspaper.jpg");
}


/*----------------------------------------------------------------------------------------------*/
/*GAMEBOARD CSS*/



#game_board {
    height: 95%;
    /*padding-bottom: 45%;*/
    width: 70%;
    /*margin-left: 1%;*/
    margin-top: .75%;
    margin-right: 1%;
    float: right;
    background-size: 100% 100%;
    background-color: #232655;
}
.gridblockLeftBig {
    position: relative;
    width: 20%;
    height: 31.5%;
    float: left;
    background-color: black;
    background-image: url("resources/mapImages/special_island13.png");
    background-size: 98% 98%;
    background-position: center;
    background-repeat: no-repeat;
}
.gridblockRightBig {
    position: relative;
    width: 22.5%;
    height: 73.51%;
    float: right;
    background-color: black;
    background-image: url("resources/mapImages/special_island14.png");
    background-size: 99% 99%;
    background-position: center;
    background-repeat: no-repeat;
}
.gridblockEmptyLeft{
    position: relative;
    width: 3.6%;
    height: 52.61%;
    float: left;
    background-color: black;
    background-image: url("resources/mapImages/water.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.gridblock {
    position: relative;
    width: 8.21%;
    height: 10.501%;
    float: left;
    z-index: 10;
    background-color: black;
    background-size: 98% 98%;
    background-position: center;
    background-repeat: no-repeat;
}
.gridblock:hover {
    background-color: rgb(236, 1, 255);
}
.special_island3x3 {
    width: 300%;
    height: 300%;
    position: absolute;
    margin-left: -100%;
    margin-top: -75%;
    background-repeat: no-repeat;
    background-size: 98% 98%;
    /*background-color: #a30004;*/
    background-position: center;
    display: none;
}
.water{background-image: url("resources/mapImages/water.png");}
.special_island1{background-image: url("resources/mapImages/special_island1.png");}
.special_island2{background-image: url("resources/mapImages/special_island2.png");}
.special_island3{background-image: url("resources/mapImages/special_island3.png");}
.special_island4{background-image: url("resources/mapImages/special_island4.png");}
.special_island5{background-image: url("resources/mapImages/special_island5.png");}
.special_island6{background-image: url("resources/mapImages/special_island6.png");}
.special_island7{background-image: url("resources/mapImages/special_island7.png");}
.special_island8{background-image: url("resources/mapImages/special_island8.png");}
.special_island9{background-image: url("resources/mapImages/special_island9.png");}
.special_island10{background-image: url("resources/mapImages/special_island10.png");}
.special_island11{background-image: url("resources/mapImages/special_island11.png");}
.special_island12{background-image: url("resources/mapImages/special_island12.png");}
.grid_special_island1{background-image: url("resources/mapImages/grid_special_island1.png");}
.grid_special_island2{background-image: url("resources/mapImages/grid_special_island2.png");}
.grid_special_island3{background-image: url("resources/mapImages/grid_special_island3.png");}
.grid_special_island4{background-image: url("resources/mapImages/grid_special_island4.png");}
.grid_special_island5_1{background-image: url("resources/mapImages/grid_special_island5_1.png");}
.grid_special_island5_2{background-image: url("resources/mapImages/grid_special_island5_2.png");}
.grid_special_island6{background-image: url("resources/mapImages/grid_special_island6.png");}
.grid_special_island7{background-image: url("resources/mapImages/grid_special_island7.png");}
.grid_special_island8{background-image: url("resources/mapImages/grid_special_island8.png");}
.grid_special_island9{background-image: url("resources/mapImages/grid_special_island9.png");}
.grid_special_island10{background-image: url("resources/mapImages/grid_special_island10.png");}
.grid_special_island11{background-image: url("resources/mapImages/grid_special_island11.png");}
.grid_special_island12{background-image: url("resources/mapImages/grid_special_island12.png");}


.highlighted {
    background-color: rgb(236, 1, 255);
}

/*----------------------------------------------------------------------------------------------*/
/*BattleZone CSS*/

#battleZonePopup{
    width: 30%;
    padding-bottom: 37%;
    /*height: 70%;*/
    position: absolute;
    display: none;
    background-image: url("resources/mapImages/battle_zone.png");
    background-repeat: no-repeat;
    background-size: 98% 98%;
    background-color: #000000;
    background-position: center;
    z-index: 500;
    margin-left: 5%;
    margin-top: 5%;
    /*//thing to change!*/
}

#unused_defender{
    width: 28%;
    height: 34%;
    margin-left: 4%;
    margin-top: 71%;
    position: absolute;
}

#unused_attacker{
    width: 29%;
    height: 34%;
    margin-left: 68%;
    margin-top: 71%;
    position: absolute;
}

#used_defender{
    width: 28%;
    height: 30%;
    margin-left: 4%;
    margin-top: 32%;
    position: absolute;
}

#used_attacker{
    width: 29%;
    height: 30%;
    margin-left: 68%;
    margin-top: 32%;
    position: absolute;
}

#center_attacker{
    width: 16%;
    height: 27%;
    margin-left: 51%;
    margin-top: 51%;
    position: absolute;
}

#center_defender{
    width: 16%;
    height: 27%;
    margin-left: 33.5%;
    margin-top: 51%;
    position: absolute;
}

#battle_buttons{
    width: 33%;
    height: 20%;
    margin-left: 34%;
    margin-top: 93%;
    position: absolute;
}

#battle_outcome{
    width: 33%;
    height: 20%;
    margin-left: 34%;
    margin-top: 23%;
    position: absolute;
}

#battleActionPopup{
    width: 96%;
    height: 96%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
    position: absolute;
    z-index: 100;
    display: none;
}




/*----------------------------------------------------------------------------------------------*/
/*GAME PIECE CSS*/

.gamePiece {
    width: 33.333%;
    height: 33.333%;
    float: left;
    position: relative;
    z-index: 15;
    /*background-color: white;*/
    background-repeat: no-repeat;
    background-size: 90% 90%;
    /*border-color: white;*/
    box-shadow: 0px 0px 0px 1px white inset;
    /*border-style: solid;*/
    /*border-width: thin;*/
    box-sizing: border-box;
    background-position: center;
}

.Red{
    box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.55) inset;
}
.Blue{
    box-shadow: 0px 0px 0px 1px rgba(30, 208, 255, 0.67) inset;
}

.transport{background-image: url("resources/unitImages/transport.png");}
.submarine{background-image: url("resources/unitImages/submarine.png");}
.destroyer{background-image: url("resources/unitImages/destroyer.png");}
.aircraftCarrier{background-image: url("resources/unitImages/aircraftCarrier.png");}
.soldier{background-image: url("resources/unitImages/soldier.png");}
.artillery{background-image: url("resources/unitImages/artillery.png");}
.tank{background-image: url("resources/unitImages/tank.png");}
.marine{background-image: url("resources/unitImages/marine.png");}
.lav{background-image: url("resources/unitImages/lav.png");}
.attackHeli{background-image: url("resources/unitImages/attackHeli.png");}
.sam{background-image: url("resources/unitImages/sam.png");}
.fighter{background-image: url("resources/unitImages/fighter.png");}
.bomber{background-image: url("resources/unitImages/bomber.PNG");}
.stealthBomber{background-image: url("resources/unitImages/stealthBomber.png");}
.tanker{background-image: url("resources/unitImages/tanker.png");}

#purchased_container > .gamePiece{
    width: 15%;
    height: 33%;
}


.transportContainer{
    height: 200%;
    width: 200%;
    background-color: orangered;
    margin: 0;
    position: absolute;
    display: none;
    /*z-index: 15;*/
}
.aircraftCarrierContainer{
    height: 100%;
    width: 200%;
    background-color: white;
    margin: 0;
    position: absolute;
    display: none;
    /*z-index: 15;*/
}
.lavContainer{
    height: 100%;
    width: 200%;
    background-color: rosybrown;
    margin: 0;
    position: absolute;
    display: none;
    /*z-index: 15;*/
}

.aircraftCarrierContainer > .gamePiece{
    height: 100%;
    width: 50%;
}

.lavContainer > .gamePiece{
    height: 100%;
    width: 50%;
}

.transportContainer > .gamePiece{
    height: 50%;
    width: 50%;
}

#unused_attacker > .gamePiece{
    width: 33%;
    height: 40px;
}
#unused_defender > .gamePiece{
    width: 33%;
    height: 40px;
}
#used_attacker > .gamePiece{
    width: 33%;
    height: 40px;
}
#used_defender > .gamePiece{
    width: 33%;
    height: 40px;
}

#center_attacker > .gamePiece{
    width: 40px;
    height: 40px;
}
#center_defender > .gamePiece{
    width: 40px;
    height: 40px;
}

.selected {
    background-color: white;
}
.selectedPos{
    background-color: #fffb00;
}
.selectedPos:hover{
    background-color: #fff400;
}

/*----------------------------------------------------------------------------------------------*/
/*ISLAND POSITIONS CSS*/

.gridblockTiny{
    background-color: rgba(255, 15, 0, 0.31);
    position: absolute;
}

#pos13a{
    width: 22%;
    height: 22%;
    margin-left: 5%;
    margin-top: 45%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos13b{
    width: 18%;
    height: 18%;
    margin-left: 50%;
    margin-top: 6%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari h */
    transform: rotate(0deg);
}
#pos13c{
    width: 24%;
    height: 24%;
    margin-left: 18%;
    margin-top: 72%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos13d{
    width: 22%;
    height: 22%;
    margin-left: 10%;
    margin-top: 12%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos13e{
    width: 21%;
    height: 21%;
    margin-left: 35%;
    margin-top:25%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos13f{
    width: 23%;
    height: 23%;
    margin-left: 34%;
    margin-top:48%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos13g{/*This position missing letter on image (small bottom triangle)*/
    width: 24%;
    height: 24%;
    margin-left: 52%;
    margin-top:75%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos13h{
    width: 20%;
    height: 20%;
    margin-left: 76%;
    margin-top:5%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos13i{
    width: 20%;
    height: 20%;
    margin-left: 60%;
    margin-top:27%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos13j{
    width: 20%;
    height: 20%;
    margin-left: 61%;
    margin-top: 48%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos14a{
    width: 37%;
    height: 16%;
    margin-left: 55%;
    margin-top:54%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos14b{
    width: 30%;
    height: 15%;
    margin-left: 10%;
    margin-top:14%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos14c{
    width: 23%;
    height: 11%;
    margin-left: 5%;
    margin-top:115%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos14d{
    width: 23%;
    height: 11%;
    margin-left: 23%;
    margin-top:147%;
    -ms-transform: rotate(-0); /* IE 9 */
    -webkit-transform: rotate(-0deg); /* Safari */
    transform: rotate(-0deg);
}
#pos14e{
    width: 25%;
    height: 13%;
    margin-left: 65%;
    margin-top:165%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos14f{
    width: 23%;
    height: 11%;
    margin-left: 48%;
    margin-top:128%;
    -ms-transform: rotate(-0deg); /* IE 9 */
    -webkit-transform: rotate(-0deg); /* Safari */
    transform: rotate(-0deg);
}
#pos14g{
    width: 25%;
    height: 12%;
    margin-left: 50%;
    margin-top:97%;
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari */
    transform: rotate(15deg);
}
#pos14h{
    width: 20%;
    height: 10%;
    margin-left: 23%;
    margin-top:88%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos14i{
    width: 30%;
    height: 15%;
    margin-left: 17%;
    margin-top:52%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos14j{
    width: 30%;
    height: 15%;
    margin-left: 50%;
    margin-top:16%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos1a{
    width: 22%;
    height: 22%;
    margin-left: 30%;
    margin-top:20%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos1b{
    width: 21%;
    height: 21%;
    margin-left: 43%;
    margin-top:40%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos1c{
    width: 21%;
    height: 21%;
    margin-left: 31%;
    margin-top:58%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos1d{
    width: 21%;
    height: 21%;
    margin-left: 58%;
    margin-top:58%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos2a{
    width: 20%;
    height: 20%;
    margin-left: 18%;
    margin-top:45%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos2b{
    width: 20%;
    height: 20%;
    margin-left: 35%;
    margin-top: 25%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos2c{
    width: 20%;
    height: 20%;
    margin-left: 42%;
    margin-top: 45%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos2d{
    width: 20%;
    height: 20%;
    margin-left: 65%;
    margin-top:45%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos3a{
    width: 21%;
    height: 21%;
    margin-left: 65%;
    margin-top: 32%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos3b{
    width: 21%;
    height: 21%;
    margin-left: 40%;
    margin-top: 32%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos3c{
    width: 21%;
    height: 21%;
    margin-left: 10%;
    margin-top: 35%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos4a{
    width: 21%;
    height: 21%;
    margin-left: 10%;
    margin-top: 22%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos4b{
    width: 21%;
    height: 21%;
    margin-left: 46%;
    margin-top: 11%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos4c{
    width: 21%;
    height: 21%;
    margin-left: 60%;
    margin-top: 31%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos4d{
    width: 21%;
    height: 21%;
    margin-left: 35%;
    margin-top: 35%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos5a{
    width: 21%;
    height: 21%;
    margin-left: 27%;
    margin-top: 22%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos5b{
    width: 21%;
    height: 21%;
    margin-left: 36%;
    margin-top: 2%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos5c{
    width: 21%;
    height: 21%;
    margin-left: 68%;
    margin-top: 17%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos5d{
    width: 21%;
    height: 21%;
    margin-left: 36%;
    margin-top: 44%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos6a{
    width: 21%;
    height: 21%;
    margin-left: 49%;
    margin-top: 27%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos6b{
    width: 21%;
    height: 21%;
    margin-left: 19%;
    margin-top: 27%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);}
#pos6c{
    width: 21%;
    height: 21%;
    margin-left: 30%;
    margin-top: 46%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);}
#pos7a{
    width: 21%;
    height: 21%;
    margin-left: 10%;
    margin-top: 32%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos7b{
    width: 21%;
    height: 21%;
    margin-left: 45%;
    margin-top: 19%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos7c{
    width: 21%;
    height: 21%;
    margin-left: 40%;
    margin-top: 39%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos8a{
    width: 21%;
    height: 21%;
    margin-left: 50%;
    margin-top: 22%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos8b{
    width: 21%;
    height: 21%;
    margin-left: 27%;
    margin-top: 15%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos8c{
    width: 21%;
    height: 21%;
    margin-left: 24%;
    margin-top: 36%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos9a{
    width: 21%;
    height: 21%;
    margin-left: 69%;
    margin-top: 34%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos9b{
    width: 21%;
    height: 21%;
    margin-left: 47%;
    margin-top: 37%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos9c{
    width: 21%;
    height: 21%;
    margin-left: 51%;
    margin-top: 15%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos9d{
    width: 21%;
    height: 21%;
    margin-left: 26%;
    margin-top: 12%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos10a{
    width: 21%;
    height: 21%;
    margin-left: 49%;
    margin-top: 21%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos10b{
    width: 21%;
    height: 21%;
    margin-left: 26%;
    margin-top: 8%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos10c{
    width: 21%;
    height: 21%;
    margin-left: 16%;
    margin-top:28%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos10d{
    width: 21%;
    height: 21%;
    margin-left: 39%;
    margin-top:42%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos11a{
    width: 21%;
    height: 21%;
    margin-left: 21%;
    margin-top: 45%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos11b{
    width: 21%;
    height: 21%;
    margin-left: 35%;
    margin-top:26%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos11c{
    width: 21%;
    height: 21%;
    margin-left: 58%;
    margin-top: 11%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos12a{
    width: 21%;
    height: 21%;
    margin-left: 57%;
    margin-top:32%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos12b{
    width: 21%;
    height: 21%;
    margin-left: 41%;
    margin-top:52%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos12c{
    width: 21%;
    height: 21%;
    margin-left: 12%;
    margin-top:27%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
}
#pos12d{
    width: 21%;
    height: 21%;
    margin-left: 35%;
    margin-top:34%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transrm: rotate(0deg);
}


#dice_image{
    /*div sizing in here*/
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-top: 10%;
    position: absolute;
}

.dice{
    background-image: url("resources/diceImages/blank.gif");
    /*!*sizeing*! for each image in the div*/
}

/*.dice1{*/
    /*background-image: url(resources/diceImages/die-1.gif);*/
/*}*/
/*.dice2{*/
    /*background-image: url(resources/diceImages/die-2.gif);*/
/*}*/
/*.dice3{*/
    /*background-image: url(resources/diceImages/die-3.gif);*/
/*}*/
/*.dice4{*/
    /*background-image: url(resources/diceImages/die-4.gif);*/
/*}*/
/*.dice5{*/
    /*background-image: url(resources/diceImages/die-5.gif);*/
/*}*/
/*.dice6{*/
    /*background-image: url(resources/diceImages/die-6.gif);*/
/*}*/